<!DOCTYPE html>
<html>
<head>
	<title>Bulleting Board</title>
</head>
<body>
	<h1>Bulleting Board</h1>
	   <ul>
        <% fileData.forEach(function(inputdata, index) { %>
            <li> <h4><%= inputdata.Title%></h4><%= inputdata.Message %> </li>
        <% }); %>
        </ul>

	<form action="/post/msg" method="POST">
		
		<input type="text" name="subject" value="subject" id="subject">
		<input type="text" name="msg" id ="hhh">
		<input type="submit" >

	</form>

</body>
</html>